
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuUnP-0OHdWLNH1YHkOWVLflxVvmt02Ek" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<div id="map_canvas" style="height: 550px;"></div>
<br/>
<div class="ui-widget">
    <select id="route">
        <option value="">Select one...</option>
    </select>
</div>
<br/>
<button id="showRoute">Show</button>

@section scripts {
    <section class="scripts">
        <script type="text/javascript" src="~/Scripts/londonTS.js">
            Initialize();
        </script>
    </section>
}
